@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 7 38 79;
}

html, body, :root { height: 100%; }

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-feature-settings: "rlig" 1, "calt" 1;
}

.container-px {
  @apply px-4 sm:px-6 lg:px-8;
}

.btn-primary {
  @apply inline-flex items-center justify-center rounded-md bg-brand-600 text-white px-5 py-3 text-sm font-semibold shadow-sm hover:bg-brand-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-600 transition;
}

.btn-ghost {
  @apply inline-flex items-center justify-center rounded-md border border-slate-200 px-5 py-3 text-sm font-semibold text-slate-700 hover:bg-slate-50 shadow-sm transition;
}
